.header__lenguage_en {
position: absolute;
width: 29px;
height: 28px;
right: 0;
top: 18px;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
/* identical to box height, or 117% */
text-align: right;
color: #FFFFFF;
}